<!-- Start content header (Page header). -->
<section class="content-header">
    <h1>Nodes <small>Version 2.0</small></h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Nodes</li>
    </ol>
</section>
<!-- End content header (Page header). -->

<!-- Start main content. -->
<section class="content">

    <div class="row">
        <div class="col-md-12">

            <div class="box">
                <div class="box-body no-padding">
                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <th style="width: 40px">#</th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>State</th>
                                <th></th>
                            </tr>
                            <tr *ngFor="let node of nodes; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ node.id }}</td>
                                <td>{{ node.name }}</td>
                                <td>{{ node.address }}</td>
                                <td>
                                    <app-node-state [node]="node"></app-node-state>
                                </td>
                                <td>
                                    <button [routerLink]="['/nodes', node.id]" type="submit" class="btn btn-default btn-sm pull-right">Details</button>
                                </td>
                            </tr>                           
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</section>
<!-- End main content. -->